.Cockpit-logo {
  animation: Cockpit-logo-spin infinite 20s linear;
  height: 80px;
}

.Cockpit-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Cockpit-title {
  font-size: 1.5em;
  font-weight: 400;
}

.Cockpit-intro {
  font-size: large;
}

.blue {
  color: #61DAFB;
}

.bold {
  font-weight: bold;
}

@keyframes Cockpit-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Cockpit-title:hover {
  color: dodgerblue;
}

.Cockpit button {
  cursor: pointer;
}

@media (max-width: 500px){
  .Cockpit button {
    width: 50vw;
  }
}